body {
      margin: 0px;
      max-width: 100%;
      overflow-x: hidden;
      font-family: optima;
}

body a:hover{
       color: #FF8A66;
}

body a:click{
       color: black;
}

#allTop{
        background-image: url("../images/heroNet.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: -0.5%;
        height: 626px;
}


.logo {
    width: 23%;
    height: 50px;
    padding: 1%;
    text-align: left;
    margin-top: -0.5%;
    margin-left: 0.5%;
}

.heroNav {
    display: flex;
}

header {
             display: flex;
             justify-content: space-between;
}

.navigation {
    display: flex;
}

#heroLine {
     margin-left: 17%;
     width:50%;
     height: 89%;
}

nav {
     display: grid;
    font-family: Optima;
     white-space: nowrap;
     height: 5%;
     text-align: right;
     margin-left: -30%;
}

nav a {
    padding: 20px;
    font-size: 20px;
    color: #575757;
}

a{
  text-decoration: none;
}

#HP{
    margin-right: -30%;
    animation: floatAnimation1 5s infinite;
}

#AU {
    margin-right: -70%;
    animation: floatAnimation2 5s infinite;
}

#PT {
    margin-right: -100%;
    animation: floatAnimation3 5s infinite;
}

#CT {
    margin-right: -120%;
    animation: floatAnimation4 5s infinite;
}

@keyframes floatAnimation1 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(2px, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes floatAnimation2 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes floatAnimation3 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes floatAnimation4 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-2px, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}


.dropdown {
    padding: 50px;
    font-size: 20px;
    color: #575757;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 125px;
  z-index: 1;
  margin-left: -5%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #575757;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: none;}

.dropdown:hover {color: #FF8A66;}


#heroContent {
    width: 75%;
    margin-top: 3%;
    margin-left: 7%;
}

h1 {
    font-family: Philosopher;
    color: #FF8A66;
    font-size: 38px;
    font-weight: 300;
}

h2 {
    font-family: Philosopher;
    font-size: 28px;
    font-weight: 300;
}

h3{
    font-family: Philosopher;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 5%;
    color: #3E3E3E;
}

h4 {
    font-family: Philosopher;
    color: #575757;
    font-size: 22px;
}

h5{
    font-family: Philosopher;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5%;
    color: #C0C0C0;
}

p {
    font-family: optima;
    font-size: 20px;
}

#timelineSec h3{
    margin-left: 15%;
}

#categoryGrid {
  margin: 10% 5%;
  display: grid;
  grid-template-rows: 222px 222px 222px 222px 222px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas:
  "timeline con1"
  "timeline con2"
  "timeline con3"
  "timeline con4"
  "timeline con5";
}

#timeline {
  grid-area: timeline;
  margin-left: 25%;
}

#timeline img{
  width: 20%;
}

#con1{
  grid-area: con1;
}

#con2 {
  grid-area: con2;
  margin-top: 4.5%;
}

#con3 {
  grid-area: con3;
  margin-top: 3%;
}

#con4 {
  grid-area: con4;
}

#con5 {
  grid-area: con5;
  margin-top: 1%;
}

.categoryGridArea {
  display: flex;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  margin: 2% 2% 2% -33%;
  cursor: pointer;
  display: grid;
  align-content: flex-start;
}

#designProcessSec {
    text-align: center;
}

.designProcessImg {
    width: 75%;
    margin-top: 5%;
}



.footerBlack {
            display: flex;
            background: linear-gradient(to bottom right, #575757, #000000);
            color: white;
            height: 200px;
            margin: 0px -3.5px 0px -50px;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            justify-content: space-evenly;
            font-family: optima;
            clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 100%);
}

.footerOrange {
            display: flex;
            background: linear-gradient(to top right, #FCC8B8, #FD5B29);
            color: white;
            height: 222px;
            margin: 100px -3.5px -227px -50px;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            justify-content: space-evenly;
            font-family: optima;
            clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

footer p{
    font-size: 17px;
}

.footerAbout {
    margin-top: 2%;
    margin-left: -10%;
}

.footerAbout p{
    margin-top: -2%;
}


.footerC {
    margin-top: 2.5%;
}


.con {
      display: flex;
}

.con p{
       margin-left: 5%;
       margin-top: 0.5%;
}

.soials {
    width: 1000px;
    margin-left: 60%;
}

.soc1{
    width: 6%;
    height: 15%;
    padding-left: 17%;
}

.soc2{
    width: 8%;
    height: 19%;
    margin-top: 1%;
    padding-left: 20%;
    margin-top: 1%;
    margin-bottom: -1%;
}

.copyright {
         background: linear-gradient(to bottom right, #FCFCFC, #FCFCFC);
         height: 30px;
         color: Black;
         text-align: center;
         font-family: Philosopher;
         font-size: 22px;
         padding: 30px 0px 0px 0px;
         margin-right: -0.3%;
}

.copyright p{
             margin-top: -0.7%;
}

@media only screen and (max-width: 500px){
        #allTop{
            width: 1000px;
        }
        footer{
            width: 990px;
        }
        .copyright{
            width: 1000px;
        }     
}

@media (min-width: 279px) and (max-width: 300px) {

    #allTop{
        height: 400px;
    }
     h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -10%;
        margin-left: -40%;
    }
    .dropdown {
        padding: 48px;
    }
    #timeline img {
        width: 33%;
    }
    #categoryGrid {
        margin: 5% -175% 5% 5%;
        grid-template-rows: 233px 211px 207px 200px 222px;
    }
    #designProcessSec {
        margin-left: 44%;
        width: 244%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {

    #allTop{
        height: 400px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -10%;
        margin-left: -40%;
    }
    #timeline img {
        width: 33%;
    }
    #categoryGrid {
        margin: 5% -100% 5% 5%;
        grid-template-rows: 211px 195px 195px 190px 222px;
    }
    #designProcessSec {
        margin-left: 22%;
        width: 222%;
    }
    .dropdown {
        padding: 48px;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 374px) and (max-width: 376px) {

        #categoryGrid {
        grid-template-rows: 222px 200px 200px 200px 222px;
    }
}

@media (min-width: 389px) and (max-width: 391px) {

        #categoryGrid {
        grid-template-rows: 233px 211px 211px 200px 222px;
    }
}

@media (min-width: 400px) and (max-width: 500px) {

    #allTop{
        height: 400px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -10%;
        margin-left: -40%;
    }
    .dropdown {
        padding: 48px;
    }
    #timeline img {
        width: 30%;
    }
    #categoryGrid {
        margin: 5% -100% 5% 5%;
        grid-template-rows: 222px 200px 200px 200px 222px;
    }
    #designProcessSec {
        width: 222%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 429px) and (max-width: 431px) {

        #categoryGrid {
        grid-template-rows: 233px 211px 211px 207px 222px;
    }
}

@media (min-width: 500px) and (max-width: 550px) {

    #allTop{
        width: 100%;
        height: 250px;
    }
    .logo img {
        height: 95%;
    }
    #heroContent {
       margin-top: -5%;
       width: 150%;
    }
    #heroContent h2{
       margin-top: -7%;
       width: 140%;
    }
    #heroLine {
        width: 50%;
        height: 80%;
    }
    nav {
        margin-top: -15%;
        margin-left: -60%;
    }
    nav a {
        font-size: 15px;
        padding: 2px;
    }
    #PT {
        font-size: 15px;
    }
    .dropdown {
        padding: 30px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        white-space: nowrap;
        font-size: 20px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    #timeline img {
        width: 27%;
    }
    #categoryGrid {
        margin: 5% 5%;
        grid-template-rows: 111px 111px 105px 105px 111px;
    }
    #categoryGrid h4 {
        margin-bottom: -2%;
    }
    #con1 {
        margin-top: -5%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 7%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }

}

@media (min-width: 550px) and (max-width: 800px) {

    #allTop{
        width: 100%;
        height: 350px;
    }
    .logo img {
        height: 122%;
    }
    #heroContent {
       margin-top: -3%;
       width: 100%;
    }
    #heroContent h2 {
        margin-top: -6%;
        width: 140%;
    }
    #heroLine {
        width: 55%;
        height: 85%;
    }
    nav {
        margin-top: -12%;
        margin-left: -60%;
    }
    nav a {
        font-size: 17px;
        padding: 3px;
    }
    #PT {
        font-size: 17px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        white-space: nowrap;
        font-size: 22px;
    }
    h4 {
        font-size: 19px;
    }
    h5 {
        font-size: 22px;
    }
    p {
        font-size: 17px;
    }
    #categoryGrid {
        margin: 5% 5%;
        grid-template-rows: 110px 109px 109px 109px 125px;
    }
    #categoryGrid h4 {
        margin-bottom: -2%;
    }
    #con1 {
        margin-top: -2%;
    }
    footer{
        width: 100%;
    }
    footer p {
        font-size: 16px;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (min-width: 719px) and (max-width: 721px) {

    #categoryGrid {
        grid-template-rows: 107px 107px 107px 107px 125px;
    }
}

@media (min-width: 767px) and (max-width: 769px) {

    #categoryGrid {
        grid-template-rows: 118px 111px 115px 115px 125px;
    }

}

@media (min-width: 550px) and (max-width: 700px) {

    #allTop {
        height: 300px;
    }
    #allTop a{
        font-size: 17px;
    }
    #heroContent {
        width: 120%;
        width: 110%;
    }
    h2 {
        font-size: 16px;
    }
    h4 {
        font-size: 17px;
    }
    p {
        font-size: 15px;
    }
    nav {
        margin-top: -13%;
        margin-left: -62%;
    }
    .dropdown {
        padding: 42px;
    }
    #PT {
        font-size: 17px;
    }
    #categoryGrid {
        margin: 5% 5%;
        grid-template-rows: 100px 99px 99px 99px 125px;
    }
    #categoryGrid h4 {
        margin-bottom: -2%;
    }
    #con1 {
        margin-top: -3%;
    }
    footer p {
        font-size: 16px;
    }
    .footerAbout {
        margin-left: 5%;
    }
}


@media (min-width: 800px) and (max-width: 895px) {

    #allTop{
        width: 100%;
        height: 400px;
    }
    #heroContent {
       margin-top: -3%;
       width: 120%; 
    }
    #heroContent h2 {
        font-size: 20px;
        margin-top: -9%;
        width: 110%;
    }
    #heroLine {
        width: 55%;
        height: 85%;
    }
    .dropdown {
        padding: 44px;
    }
    nav {
        margin-top: -8%;
        margin-left: -55%;
    }
    nav a {
        padding: 3px;
    }
    h3 {
        white-space: nowrap;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #categoryGrid {
        margin: 5% 5%;
        grid-template-rows: 130px 125px 125px 125px 125px;
    }
    #categoryGrid h4 {
        margin-bottom: -2%;
    }
    #con1 {
        margin-top: -1%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (min-width: 895px) and (max-width: 1000px) {

    #allTop{
        width: 100%;
        height: 400px;
    }
    #heroContent {
        width: 100%;
        margin-top: -1%;
    }
    #heroContent h2 {
        font-size: 20px;
        margin-top: -4%;
    }
    #heroLine {
        height: 95%;
    }
    nav {
        margin-top: -7%;
        margin-left: -44%;
    }
    nav a {
        padding: 9px;
    }
    h3 {
        white-space: nowrap;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #categoryGrid {
        margin: 5% 5%;
        grid-template-rows: 140px 140px 140px 130px 140px;
    }
    #categoryGrid h4 {
        margin-bottom: -2%;
    }
    #con1 {
        margin-top: -1%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (min-width: 895px) and (max-width: 897px) {

    #categoryGrid {
        grid-template-rows: 140px 135px 135px 135px 140px;
    }

}

@media (min-width: 930px) and (max-width: 933px) {
    #categoryGrid {
        grid-template-rows: 140px 140px 140px 140px 140px;
    }

}

@media (min-width: 1000px) and (max-width: 1025px) {

    #allTop {
        height: 500px;
    }
    #heroContent {
        width: 100%;
        margin-top: -1%;
    }
    #heroContent h2 {
        font-size: 22px;
    }
    #heroLine {
        height: 85%;
    }
    nav {
        margin-top: -7%;
        margin-left: -44%;
    }
    nav a {
        padding: 10px;
    }
    #categoryGrid {
        margin: 5% 5%;
        grid-template-rows: 160px 150px 150px 150px 150px;
    }
    #categoryGrid h4 {
        margin-bottom: -2%;
    }
    #con1 {
        margin-top: -1%;
    }
    .footerAbout {
    width: 50%;
    margin-left: 2%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {

    #heroContent {
        width: 100%;
    }
    #heroLine {
        height: 85%;
    }
    nav {
        margin-top: -7%;
        margin-left: -44%;
    }
    nav a {
        padding: 10px;
    }
    #categoryGrid {
        grid-template-rows: 190px 175px 175px 175px 222px;
    }
    .footerAbout {
        margin-left: 0%;
    }
}

@media (min-width: 1275px) and (max-width: 1285px) {

    #categoryGrid {
        grid-template-rows: 206px 190px 190px 190px 222px;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
}

@media (min-width: 1360px) and (max-width: 1370px) {

#categoryGrid {
    grid-template-rows: 222px 190px 190px 190px 222px;
    }
}