body {
      margin: 0px;
      max-width: 100%;
      overflow-x: hidden;
      font-family: optima;
}

body a:hover{
       color: #FF8A66;
}

body a:click{
       color: black;
}

h1 {
    font-family: Philosopher;
    color: #FF8A66;
    font-size: 50px;
    font-weight: 300;
    text-shadow: 1px 1px 5px #c1c1c1;

}

h2 {
    font-family: Optima;
    font-size: 28px;
    font-weight: 300;
}

h3{
    font-family: Philosopher;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 5%;
    color: #3E3E3E;
}

h4 {
    font-family: Philosopher;
    font-size: 22px;
}


h5{
    font-family: Philosopher;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5%;
    color: #C0C0C0;
}

p {
    font-family: optima;
    font-size: 20px;
}

#allTop{
        background-image: url("../images/headerTrans.png");
        background-size: 101%;
        background-repeat: no-repeat;
        margin-top: -0.5%;
        margin-left: -1%;
        height: 1000px;
        z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 23%;
    height: 50px;
    padding: 1%;
    text-align: left;
    margin-top: -0.5%;
    margin-left: 0.5%;
}

.heroNav {
    position: relative;
    display: flex;
}

#heroContent {
    width: 50%;
    margin-top: 3%;
    margin-left: 7%;
}

.menu {
    display: none;
    width: 7%;
    margin-top: 1%;
    margin-right: 1%;
}

nav {
    display: grid;
    font-family: Optima;
    white-space: nowrap;
    height: 5%;
    text-align: right;
    margin-top: -75%;
    margin-left: 88%;
}

nav a {
    padding: 15px;
    font-size: 20px;
    color: #575757;
}

a{
  text-decoration: none;
}

#HP{
    margin-bottom: 50%;
}

#AU {
    margin-bottom: 25%;
}

#PT {
    margin-bottom: 25%;
}


.dropdown {
    padding: 50px 20px 75px 50px;
    font-size: 20px;
    color: #575757;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 125px;
  z-index: 1;
  margin-top: 3%;
  margin-left: -111%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #575757;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: none;}

.dropdown:hover {color: #FF8A66;}

.navigation {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

#OP {
  position: relative;
  padding-right: 8px;
}

#OP::before {
  content: "";
  position: absolute;
  right: 0;
  top: -25%;
  transform: translateY(-50%);
  width: 1px;
  height: 0px;
  background-color: #FF8A66;
  transition: height 0.25s ease;
}

/* 🔥 Trigger line when hovering Projects */
.dropdown:hover #OP::before {
  height: 500%;
}

.Hero-Img {
    width: 100%;
    margin-left: 10%;
    margin-top: 20%;
}

svg {
  overflow: visible;
}

#communication {
  transform: translate(40px, -40px) scale(0.9); /* start smaller + offset */
  opacity: 0;
}

.observe-section.is-visible #communication {
  animation: movePopIn 0.9s ease-out forwards;
  animation-delay: 1s;
}

@keyframes movePopIn {
  0% {
    transform: translate(40px, -40px) scale(0.9);
    opacity: 0;
  }

  70% {
    transform: translate(0, 0) scale(1.05); /* go a bit bigger */
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(1); /* settle slightly smaller */
    opacity: 1;
  }
}

#chat {
  transform: translate(40px, -40px) scale(0.9); /* start smaller + offset */
  opacity: 0;
}

.observe-section.is-visible #chat{
  animation: movePopIn 0.9s ease-out forwards;
  animation-delay: 2s;
}

@keyframes movePopIn {
  0% {
    transform: translate(40px, -40px) scale(0.9);
    opacity: 0;
  }

  70% {
    transform: translate(0, 0) scale(1.05); /* go a bit bigger */
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(1); /* settle slightly smaller */
    opacity: 1;
  }
}

#deal {
  transform: translate(40px, -40px) scale(0.9); /* start smaller + offset */
  opacity: 0;
}

.observe-section.is-visible #deal {
  animation: movePopIn 0.9s ease-out forwards;
  animation-delay: 3s;
}

@keyframes movePopIn {
  0% {
    transform: translate(40px, -40px) scale(0.9);
    opacity: 0;
  }

  70% {
    transform: translate(0, 0) scale(1.05); /* go a bit bigger */
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(1); /* settle slightly smaller */
    opacity: 1;
  }
}

#brandingStatement {
    position: relative;
    background-image: url("../images/filterId.png");
    margin-top: -25%;
    padding: 12% 7%;
    z-index: -1;
}

#brandingStatement p {
    color: #000000;
    text-shadow: 1px 1px 20px #fba084;
    font-size: 50px;
    font-weight:500;
}

#formSec {
    background-image: url("../images/filterId.png");
    margin-top: 0%;
    padding-top: 10%;
    padding-bottom: 15%;
    margin-bottom: -15%;
}

#formSec h3 {
    margin-left: 15%;
}

.contact-form {
    margin-left: 15%;
}


.contact-form input {
    width: 50%;
    height: 7%;
    padding: 1%;
    opacity: 50%;
}

.contact-form  textarea {
    width: 50%;
    height: 25%;
    padding: 1%;
    opacity: 50%;
}

#send {
    width: 175px;
    height: 50px;
    margin-top: 1%;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #575757;
    font-family: optima;
    background-color: #FAFBFB;
    border: #575757 solid 3px;
    border-radius: 5px;
    box-shadow:  2px 2px 5px #c1c1c1;;
}

#send:hover {
    color: #FF8A66;
    border-color: #FF8A66;
}

.whyUs {
    text-align: center;
    background-color: #F8F8F8;
    margin-top: 15%;
    margin-bottom: -12%;
    padding: 5%;
    box-shadow:  0px -2px 5px #c1c1c1;
}


.footerBlack {
            display: flex;
            background: linear-gradient(to bottom right, #575757, #000000);
            color: white;
            height: 200px;
            margin: 0px -3.5px 0px -50px;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            justify-content: space-evenly;
            font-family: optima;
            clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 100%);
}

.footerOrange {
            display: flex;
            background: linear-gradient(to top right, #FCC8B8, #FD5B29);
            color: white;
            height: 222px;
            margin: 100px -3.5px -227px -50px;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            justify-content: space-evenly;
            font-family: optima;
            clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

footer p {
    font-size: 17px;
}

.footerAbout {
    margin-top: 2%;
    margin-left: -10%;
}

.footerAbout p{
    margin-top: -2%;
}


.footerC {
    margin-top: 2.5%;
}


.con {
      display: flex;
}

.con p{
       margin-left: 5%;
       margin-top: 0.5%;
}

.socials {
    width: 1000px;
    margin-left: 60%;
    margin-top: 0.5%;
}

.soc1{
    width: 6%;
    height: 15%;
    padding-left: 17%;
}

.soc2{
    width: 8%;
    height: 19%;
    padding-left: 20%;
    margin-bottom: -1%;
}

.copyright {
         background: linear-gradient(to bottom right, #575757, #000000);
         border-top: #C0C0C0 1px solid;
         color: #C0C0C0;
         height: 30px;
         text-align: center;
         font-family: Philosopher;
         font-size: 22px;
         padding: 30px 0px 0px 0px;
         margin-right: -0.3%;
}

.copyright p{
             margin-top: -0.7%;
}


@media only screen and (max-width: 500px){
        #allTop{
            width: 1000px;
        }
        footer{
            width: 990px;
        }
        .copyright{
            width: 1000px;
        }

        .ProtoEn{
            margin-left: 5%;
        }

}

@media (min-width: 279px) and (max-width: 300px) {
     h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -10%;
        margin-left: -40%;
    }
    .dropdown {
        padding: 48px;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    #allTop {
        background-size: 150%;
        width: 268%;
        margin-left: -4%;
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        display: block;
    }
    nav {
        margin-top: 100%;
        margin-left: -25%;
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: 10px;
        width: 175%;
        box-shadow: 0 4px 50px rgba(255, 138, 102, 0.2);
    }
    .dropdown-content {
        margin-left: -110%;
    }
    .dropdown {
        padding: 48px;
    }
    #PT {
        margin-left: 55%;
    }
    .menu {
        display: block;
    }
    #brandingStatement {
        margin-top:  -79%;
        width: 242%;
    }
     #brandingStatement p {
        margin-top: 20%;
        width: 80%;
        margin-left:5%;
     }
    #contactForm {
        height: 60%;
    }
    #formSec {
        width: 242%;
    }
    .whyUs {
        width: 250%;
        margin-bottom: -37%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 340px) and (max-width: 350px) {

    #allTop {
        background-size: 155%;
        width: 295%;
    }
    .whyUs {
        width: 277%;
    }
 }

@media (min-width: 359px) and (max-width: 361px) {
    .whyUs {
        width: 266%;
    }
} 

@media (min-width: 374px) and (max-width: 376px) {
    .whyUs {
        width: 255%;
    }
} 


@media (min-width: 400px) and (max-width: 500px) {

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
     #allTop {
        background-size: 144%;
        width: 260%;
        margin-left: -3%;
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        display: block;
    }
    nav {
        margin-top: 100%;
        margin-left: -25%;
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: 10px;
        width: 175%;
        box-shadow: 0 4px 50px rgba(255, 138, 102, 0.2);
    }
    .dropdown-content {
        margin-left: -110%;
    }
    .dropdown {
        padding: 48px;
    }
    #PT {
        margin-left: 55%;
    }
    .dropdown {
        padding: 48px;
    }
    .menu {
        display: block;
    }
    #brandingStatement {
        margin-top:  -75%;
        width: 242%;
    }
     #brandingStatement p {
        margin-top: 20%;
        width: 80%;
        margin-left:5%;
     }
    #contactForm {
        height: 60%;
    }
    #formSec {
        width: 242%;
    }
    .whyUs {
        width: 250%;
        margin-bottom: -37%;
    }
    #contact {
        width: 260%;
    }
    .copyright {
        width: 260%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (width: 412px) and (height: 915px) { 

    #contact {
        width: 266%;
    }
    .copyright {
        width: 266%;
    }
}

@media (min-width: 500px) and (max-width: 550px) {

    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    #allTop {
        background-size: 166%;
    }
    #allTop a{
        font-size: 17px;
    }
    header img {
        height: 100%;
    }
    #heroContent {
        width: 40%;
    }
    nav {
        margin-top: -150%;
        margin-left: 35%;
    }
    nav a {
        padding: 7px;
        font-size: 17px;
    }
    .dropdown-content {
        margin-left: -122%;
    }
    .dropdown-content a {
        font-size: 11px;
    }
    #HP {
    margin-bottom: 30%;
    }
    #AU {
        margin-bottom: 0%;
    }
    #PT {
        font-size: 17px;
        margin-left: 14%;
        margin-bottom: 0%;
    }
    #CT {
        margin-top: -5%;
    }
    .Hero-Img {
        margin-top: 5%;
        width: 50%;
    }
    #brandingStatement {
        margin-top:  -110%;
    }
    #contactForm {
        height: 60%;
    }
    .whyUs {
        margin-bottom: -30%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 7%;
    }
    .socials {
        margin-top: 2%;
    }
    .soc1 {
        height: 9%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 11%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }

}

@media (min-width: 550px) and (max-width: 800px) {

    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 19px;
    }
    h5 {
        font-size: 22px;
    }
    p {
        font-size: 17px;
    }
    #allTop{
        width: 101%;
        background-size: 105%;
    }
    header img {
        height: 111%;
    }
    #heroContent {
        width: 50%;
        margin-top: -1%;
    }
    #heroContent h3 {
        font-size: 22px;
    }
    nav {
        margin-top: -20%;
        margin-left: 55%;
    }
    nav a {
        padding: 7px;
        font-size: 17px;
    }
    .dropdown-content a {
        font-size: 15px;
    }
    #HP{
    margin-bottom: 30%;
    }
    #AU {
        margin-bottom: 0%;
    }
    #PT {
        font-size: 17px;
        margin-left: 14%;
        margin-bottom: 0%;
    }
    #CT {
        margin-top: -5%;
    }
    #OP::before {
        top: -35;
    }
    .dropdown:hover #OP::before {
        height: 300%;
    }
    .Hero-Img {
        width: 50%;
        margin-top: 0%;
    }
    #brandingStatement {
        margin-top:  -90%;
    }
    .whyUs {
        margin-bottom: -22%;
    }
    footer{
        width: 100%;
    }
    footer p {
        font-size: 16px;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (width: 768px) {
    #contactForm {
        height: 60%;
    }
}

@media (min-width: 550px) and (max-width: 700px) {

    h2 {
        font-size: 17px;
    }
    #allTop {
        background-size: 130%;
    }
    #allTop a{
        font-size: 17px;
    }
    nav {
        margin-top: -100%;
    }
    #heroContent {
        width: 50%;
    }
    #PT {
        font-size: 17px;
    }
    footer p {
        font-size: 16px;
    }
    .footerAbout {
        margin-left: 5%;
    }
}


@media (min-width: 800px) and (max-width: 895px) {

    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #allTop{
        width: 101%;
        background-size: 105%;
    }
    #heroContent {
        width: 50%;
        margin-top: -1%;
    }
    #heroContent h1 {
        font-size: 35px;
    }
    #heroContent h2 {
        font-size: 19px;
    }
    #heroContent h3 {
        font-size: 25px;
    }
    nav {
        margin-top: -100%;
        margin-left: 55%;
    }
    nav a {
        padding: 7px;
        font-size: 17px;
    }
    .dropdown-content a {
        font-size: 15px;
    }
    #HP{
        margin-bottom: 30%;
    }
    #AU {
        margin-bottom: 0%;
    }
    #PT {
        font-size: 17px;
        margin-left: 14%;
        margin-bottom: 0%;
    }
    #CT {
        margin-top: -5%;
    }
    #OP::before {
        top: -35;
    }
    .dropdown:hover #OP::before {
        height: 300%;
    }
    .Hero-Img {
        width: 60%;
        margin-top: -10%;
    }
    #brandingStatement {
        margin-top:  -70%;
    }
    .whyUs {
        margin-bottom: -17%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (width: 820px) {

    #allTop{
        background-size: 109%;
    }
    #contactForm {
        height: 60%;
    }
 }


@media (min-width: 895px) and (max-width: 1000px) {

    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #allTop{
        background-size: 108%;
        width: 102%;
    }
    #heroContent {
        width: 50%;
        margin-top: -1%;
    }
    #heroContent h1 {
        font-size: 40px;
    }
    #heroContent h2 {
        font-size: 22px;
    }
    #heroContent h3 {
        font-size: 30px;
    }
    nav {
        margin-top: -50%;
        margin-left: 50%;
    }
    nav a {
        padding: 10px;
    }
    .Hero-Img {
        width: 75%;
        margin-top: -10%;
    }
    #brandingStatement {
        margin-top:  -60%;
    }
    .whyUs {
        margin-bottom: -17%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (width: 912px) {

    #contactForm {
        height: 70%;
    }
 }

@media (min-width: 1000px) and (max-width: 1025px) {

    nav {
        margin-top: -50%;
        margin-left: 70%;
    }
    nav a {
        padding: 10px;
    }
    .heroNav {
        margin-top: -3%;
    }
    #heroContent {
        width: 50%;
    }
    #heroContent h2 {
        font-size: 22px;
    }
    .Hero-Img {
        width: 75%;
        margin-top: 15%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
}

@media (width: 1024px) and (height: 1366px) {

    #brandingStatement {
        margin-top:  -50%;
    }
    #contactForm {
        height: 75%;
    }
 }

@media (min-width: 1100px) and (max-width: 1200px) {

    #allTop {
        background-size: 109%;
    }
    #heroContent {
        width: 50%;
        margin-top: -1%;
    }
    nav {
        margin-top: -100%;
        margin-left: 70%;
    }
    nav a {
        padding: 10px;
    }
    .Hero-Img {
        width: 85%;
        margin-top: -12%;
    }
    #brandingStatement {
        margin-top:  -40%;
    }

    .footerAbout {
        margin-left: 0%;
    }
}

@media (min-width: 1275px) and (max-width: 1285px) {

    nav {
        margin-top: -150%;
    }
    #brandingStatement {
        margin-top: -33%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
}

