body {
      margin: 0px;
      max-width: 100%;
      overflow-x: hidden;
      font-family: optima;
}

body a:hover{
       color: #FF8A66;
}

body a:click{
       color: black;
}

#allTop{
        background-image: url("../images/headerTrans.png");
        background-size: 101%;
        background-repeat: no-repeat;
        margin-top: -0.5%;
        margin-left: -1%;
        height: 1000px;
}
.logo {
    width: 23%;
    height: 50px;
    padding: 1%;
    text-align: left;
    margin-top: -0.5%;
    margin-left: 0.5%;
}

.menu {
    display: none;
    width: 7%;
    margin-top: 1%;
    margin-right: 1%;
}

.Hero-Img {
    width: 30%;
    margin-left: -5%;
    margin-top: -5%;
}

.heroNav {
    position: relative;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: grid;
    font-family: Optima;
    white-space: nowrap;
    height: 5%;
    text-align: right;
    margin-top: -100%;
    margin-left: 88%;
}

nav a {
    padding: 15px;
    font-size: 20px;
    color: #575757;
}

a{
  text-decoration: none;
}

#HP{
    margin-bottom: 50%;
}

#AU {
    margin-bottom: 25%;
}

#PT {
    margin-bottom: 25%;
}


.dropdown {
    padding: 50px 20px 75px 50px;
    font-size: 20px;
    color: #575757;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 125px;
  z-index: 1;
  margin-top: 3%;
  margin-left: -111%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #575757;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: none;}

.dropdown:hover {color: #FF8A66;}


#heroContent {
    width: 50%;
    margin-top: 3%;
    margin-left: 7%;
}

.navigation {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

#OP {
  position: relative;
  padding-right: 8px;
}

#OP::before {
  content: "";
  position: absolute;
  right: 0;
  top: -25%;
  transform: translateY(-50%);
  width: 1px;
  height: 0px;
  background-color: #FF8A66;
  transition: height 0.25s ease;
}

/* 🔥 Trigger line when hovering Projects */
.dropdown:hover #OP::before {
  height: 500%;
}

#CTA {
    width: 200px;
    margin-top: 5%;
    padding: 17px;
    font-size: 25px;
    font-weight: 600;
    color: #575757;
    font-weight: 500px;
    font-family: optima;
    background-color: #FAFBFB;
    border: #575757 solid 3px;
    border-radius: 5px;
    box-shadow:  2px 2px 5px #c1c1c1;
}

#CTA:hover {
    color: #FF8A66;
    border-color: #FF8A66;
}

#Lines {
  transform: translate(40px, -40px); /* start: top-right */
  opacity: 0;
}

.observe-section.is-visible #Lines {
  animation: moveDiagonal 0.9s ease-out forwards;
  animation-delay: 1s;
}

@keyframes moveDiagonal {
  to {
    transform: translate(0, 0); /* end: bottom-left (natural position) */
    opacity: 1;
  }
}

#Protos {
  transform: translate(40px, -40px); /* start: top-right */
  opacity: 0;
}

.observe-section.is-visible #Protos {
  animation: moveDiagonal 0.9s ease-out forwards;
  animation-delay: 2s;
}

@keyframes moveDiagonal {
  to {
    transform: translate(0, 0); /* end: bottom-left (natural position) */
    opacity: 1;
  }
}

#identity {
    background-image: url("../images/filterId.png");
    background-size: cover;
    height: 50%;
    margin-top: -24%;
    position: relative;
    z-index: -1;
    padding-top: 14%;
    padding-bottom: 10%;
}

.allId {
    margin-left: 15%;
}

.pvm {
    display: flex;
}

.pvm h4{
    margin-bottom: -1%;
}

.pvmCards {
    margin-right: 10%;
    padding: 1%;
    width: 500px;
    height: 200px;
    border: solid 1px;
    border-radius: 10px;
}

.idCard1 {
    background-image: url("../images/purposeBg.png");
    background-size: cover;
}

.idCard2 {
    background-image: url("../images/visionBg.png");
    background-size: cover;
}

.idCard3 {
    background-image: url("../images/missionBg.png");
    background-size: cover;
}


#values {
    background-color: #F8F8F8;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* horizontal-offset vertical-offset blur spread color */
}

.allValues {
    margin-left: 15%;
}

.allValues h3{
    margin-left: 35.5%;
    margin-right: 40%;
}

.val {
    display: flex;
}

.valCards {
    width: 200px;
    margin-right: 7%;
}

.valCards img{
    height: 25%;
}

.projects {
    margin-top: 5%;
}

.projects h3 {
    margin-left: 15%;
}


.envisionLogo {
    width: 17%;
    margin-left: 15%;
}

.protoEN {
    width: 33%;
    height: 70%;
    margin-left: 5%;
}

.gardengate {
  margin-top: 10%;
  padding-top: 10%;
  position: relative;
}

/* angled top border */
.gardengate::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 106%;
  height: 1px;
  background: #FF8A66;
  transform: rotate(3deg);      /* ← angle */
  transform-origin: left center;
  box-shadow: 0 -2px 5px #FF8A66;
}


.gardengate img {
    margin-left: 15%;
}

.gardengateLogo {
    width: 22%;
    margin-left: 15%;
}

.gardengatePr {
    width: 15%;
    margin-left: 2%;
}

.content {
    display: flex;
    margin-left: 2%;
    margin-left: 15%;
}

.content p {
    width: 50%;
}

.otherProjects {
  margin-top: 10%;
  padding-top: 10%;
  position: relative;
}

.otherProjects h2 {
   margin-left: 15%;
}

.projectsPr {
    width: 25%;
    margin-left: 7%;
}

/* angled top border */
.otherProjects::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 106%;
  height: 1px;
  background: #FF8A66;
  transform: rotate(3deg);      /* ← angle */
  transform-origin: left center;
  box-shadow: 0 -2px 5px  #FF8A66;
}

h1 {
    font-family: Philosopher;
    color: #FF8A66;
    font-size: 50px;
    font-weight: 300;
    text-shadow: 1px 1px 5px #c1c1c1;

}

h2 {
    font-family: Optima;
    font-size: 28px;
    font-weight: 300;
}

h3{
    font-family: Philosopher;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 5%;
    color: #3E3E3E;
}

h4 {
    font-family: Philosopher;
    font-size: 22px;
}


h5{
    font-family: Philosopher;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5%;
    color: #C0C0C0;
}

p {
    font-family: optima;
    font-size: 20px;
}

.whyUs {
    text-align: center;
    background-color: #F8F8F8;
    margin-top: 15%;
    margin-bottom: -12%;
    padding: 5%;
    box-shadow:  0px -2px 5px #c1c1c1;
}

.footerBlack {
            display: flex;
            background: linear-gradient(to bottom right, #575757, #000000);
            color: white;
            height: 200px;
            margin: 0px -3.5px 0px -50px;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            justify-content: space-evenly;
            font-family: optima;
            clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 100%);
}

.footerOrange {
            display: flex;
            background: linear-gradient(to top right, #FCC8B8, #FD5B29);
            color: white;
            height: 222px;
            margin: 100px -3.5px -227px -50px;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: 100%;
            justify-content: space-evenly;
            font-family: optima;
            clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

footer p {
    font-size: 17px;
}

.footerAbout {
    margin-top: 2%;
    margin-left: -10%;
}

.footerAbout p{
    margin-top: -2%;
}


.footerC {
    margin-top: 2.5%;
}


.con {
      display: flex;
}

.con p{
       margin-left: 5%;
       margin-top: 0.5%;
}

.socials {
    width: 1000px;
    margin-left: 60%;
    margin-top: 0.5%;
}

.soc1{
    width: 6%;
    height: 15%;
    padding-left: 17%;
}

.soc2{
    width: 8%;
    height: 19%;
    padding-left: 20%;
    margin-bottom: -1%;
}

.copyright {
         background: linear-gradient(to bottom right, #575757, #000000);
         border-top: #C0C0C0 1px solid;
         color: #C0C0C0;
         height: 30px;
         text-align: center;
         font-family: Philosopher;
         font-size: 22px;
         padding: 30px 0px 0px 0px;
         margin-right: -0.3%;
}

.copyright p{
             margin-top: -0.7%;
}

@media only screen and (max-width: 500px){
        #allTop{
            width: 1000px;
        }
        footer{
            width: 990px;
        }
        .copyright{
            width: 1000px;
        }

        .ProtoEn{
            margin-left: 5%;
        }

}





@media (min-width: 279px) and (max-width: 300px) {
     h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -10%;
        margin-left: -40%;
    }
    .dropdown {
        padding: 48px;
    }
    #identity {
        width: 355%;
        margin-top: -115%;
    }
    .allId {
        margin-top: 7%;
        margin-left: 12%;
    }
    .allId {
        margin-top: 5%;
    }
    .pvm {
        margin-top: -2%;
    }
    .pvm h4 {
        margin-top: 2%;
    }
    .pvm p {
        margin-top: 3%;
    }
    .pvmCards {
        height: 180px;
    }
    #values {
        width: 355%;
    }
    .allValues {
        margin-left: 8%;
    }
    .allValues h3 {
        margin-top: 2%;
        margin-left: 33%;
    }
    .projects h3 {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .envision {
        width: 355%;
    }
    .gardengate {
        padding-top: 15%;
        width: 355%;
    }
    .enVisionLogo {
        width: 33%;
    }
    .gardengateLogo {
        width: 33%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {

   #allTop {
        background-size: 144%;
    }
    .menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        display: block;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -100%;
        margin-left: -25%;
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: 10px;
        width: 175%;
        box-shadow: 0 4px 50px rgba(255, 138, 102, 0.2);
    }
    .dropdown-content {
        margin-left: -110%;
    }
    .dropdown {
        padding: 48px;
    }
    #PT {
        margin-left: 55%;
    }
    #identity {
        width: 255%;
        margin-top: -78%;
    }
    .allId {
        margin-top: 7%;
        margin-left: 12%;
    }
    .pvmCards {
        height: 222px;
    }
    #values {
        width: 255%;
    }
    .allValues {
        margin-left: 8%;
    }
    .allValues h3 {
        margin-top: 2%;
        margin-left: 33%;
    }
    .projects h3 {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .envision {
        width: 242%;
    }
    .gardengate {
        width: 250%;
        margin-top: 15%;
    }
    .otherProjects {
        width: 250%;
    }
    .enVisionLogo {
        width: 33%;
    }
    .gardengateLogo {
        width: 33%;
    }
    .gardengatePr {
        height: 50%;
    }
    .projectsPr {
        height: 50%;
    }
    .whyUs {
        width: 250%;
        margin-bottom: -37%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (min-width: 340px) and (max-width: 350px) {
    #identity {
        margin-top: -93%;
        width: 290%;
    }
    #values {
        width: 290%;
    }
    .envision {
        width: 283%;
    }
    .gardengate {
        width: 283%;
        margin-top: 15%;
    }
    .otherProjects {
        width: 277%;
        margin-top: 15%;
    }
    .whyUs {
        width: 277%;
        margin-bottom: -37%;
    }
 }

@media (min-width: 359px) and (max-width: 361px) {
    #identity {
        width: 277%;
        margin-top: -87%;
    }
    .allId {
        margin-top: 5%;
    }
    .pvm {
        margin-top: -2%;
    }
    .pvmCards {
        height: 200px;
    }
    #values {
        width: 277%;
    }
    .envision {
        width: 277%;
    }
    .gardengate {
        width: 277%;
        margin-top: 15%;
    }
    .otherProjects {
        width: 277%;
        margin-top: 15%;
    }
    .whyUs {
        width: 266%;
        margin-bottom: -37%;
    }
} 

@media (min-width: 374px) and (max-width: 376px) {
    #identity {
        width: 266%;
        margin-top: -87%;
    }
    .allId {
        margin-top: 5%;
    }
    .pvm {
        margin-top: -2%;
    }
    .pvmCards {
        height: 200px;
    }
    #values {
        width: 266%;
    }
    .envision {
        width: 257%;
    }
    .gardengate {
        width: 257%;
        margin-top: 15%;
    }
    .whyUs {
        width: 255%;
        margin-bottom: -37%;
    }
} 


@media (min-width: 400px) and (max-width: 500px) {

    #allTop {
        background-size: 144%;
    }
    .menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .navigation.active {
        display: block;
    }

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    nav {
        margin-top: -100%;
        margin-left: -25%;
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: 10px;
        width: 175%;
        box-shadow: 0 4px 50px rgba(255, 138, 102, 0.2);
    }
    .dropdown-content {
        margin-left: -110%;
    }
    .dropdown {
        padding: 48px;
    }
    #PT {
        margin-left: 55%;
    }
    #identity {
        width: 242%;
        margin-top: -78%;
    }
    .allId {
        margin-top: 7%;
        margin-left: 12%;
    }
    .pvmCards {
        height: 222px;
    }
    #values {
        width: 242%;
    }
    .allValues {
        margin-left: 8%;
    }
    .allValues h3 {
        margin-top: 2%;
        margin-left: 33%;
    }
    .envision {
        width: 242%;
    }
    .gardengate {
        width: 242%;
        margin-top: 15%;
    }
    .otherProjects {
        width: 242%;
    }
    .enVisionLogo {
        width: 33%;
    }
    .gardengateLogo {
        width: 33%;
    }
    .whyUs {
        width: 242%;
        margin-bottom: -37%;
    }
    .footerAbout {
        margin-left: 5%;
        width: 90%;
    }
    .footerC {
        margin-left: -5%;
    }
}

@media (width: 412px) {
    .whyUs {
        width: 232%;
        margin-bottom: -37%;
    }
 }

@media (min-width: 429px) and (max-width: 431px) {
    #identity {
        width: 232%;
    }
    #values {
        width: 232%;
    }
    .envision {
        width: 222%;
    }
    .gardengate {
        width: 222%;
        margin-top: 15%;
    }
    .otherProjects {
        width: 222%;
    }
    .whyUs {
        width: 222%;
        margin-bottom: -37%;
    }
}

@media (min-width: 500px) and (max-width: 550px) {

    #allTop {
        background-size: 144%;
    }
    #allTop a{
        font-size: 17px;
    }
    header img {
        height: 100%;
    }
    #heroContent {
        width: 40%;
    }
    .Hero-Img {
        margin-top: -55%;
    }
    nav {
        margin-top: -250%;
        margin-left: 35%;
    }
    nav a {
        padding: 7px;
        font-size: 17px;
    }
    .dropdown-content {
        margin-left: -122%;
    }
    .dropdown-content a {
        font-size: 11px;
    }
    #HP {
    margin-bottom: 20%;
    }
    #AU {
        margin-bottom: 0%;
    }
    #PT {
        font-size: 17px;
        margin-left: 14%;
        margin-bottom: 0%;
    }
    #CT {
        margin-top: -5%;
    }
    #CTA {
        margin-top: 0%;
        padding: 10px;
        font-size: 17px;
        width: 122px;
    }
    #identity {
        margin-top: -117%;
    }
    .allId {
        margin-left: 8%;
    }
    .pvmCards {
        margin-right: 5%;
        width: 600px;
        height: 222px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 17px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .val {
        margin-left: -6%;
        margin-right: 6%;
    }
    #values {
        width: 100%;
    }
    #values h3{
        margin-left: 31%;
    }
    .allValues {
        margin-left: 9%;
    }
    .valCards {
        margin-right: 1%;
    }
    .projects {
        margin-left: 3%;
        margin-right: 3%;
    }
    .enVisionLogo {
        width: 33%;
    }
    .gardengateLogo {
        width: 33%;
    }
    .ProtoEn {
        width: 55%;
    }
    .gardengatePr {
        height: 50%;
    }
    .projectsPr {
        height: 50%;
    }
    .whyUs {
        margin-bottom: -33%;
    }
    footer{
        width: 100%;
    }
    footer p{
        font-size: 15px;
    }
    .footerAbout {
        width: 50%;
        margin-left: 7%;
    }
    .socials {
        margin-top: 2%;
    }
    .soc1 {
        height: 9%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 11%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }

}

@media (min-width: 550px) and (max-width: 800px) {

    #allTop{
        width: 101%;
    }
    header img {
        height: 111%;
    }
    #heroContent {
        width: 55%;
        margin-top: -1%;
    }
    #heroContent h3 {
        font-size: 22px;
    }
    .Hero-Img {
        margin-top: -33%;
    }
    nav {
        margin-top: -220%;
        margin-left: 55%;
    }
    nav a {
        padding: 7px;
        font-size: 17px;
    }
    .dropdown-content a {
        font-size: 15px;
    }
    #CTA {
        margin-top: 0%;
        padding: 10px;
        font-size: 20px;
        width: 150px;
    }
    #HP{
    margin-bottom: 20%;
    }
    #AU {
        margin-bottom: 0%;
    }
    #PT {
        font-size: 17px;
        margin-left: 14%;
        margin-bottom: 0%;
    }
    #CT {
        margin-top: -5%;
    }
    #HeroHome-Image {
        width: 80%;
    }
    #OP::before {
        top: -35;
    }
    .dropdown:hover #OP::before {
        height: 300%;
    }
     #identity {
        margin-top: -80%;
        height: 400px;
    }
    .allId {
        margin-left: 8%;
    }
    .pvmCards {
        margin-right: 5%;
        width: 600px;
        height: 222px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 19px;
    }
    h5 {
        font-size: 22px;
    }
    p {
        font-size: 17px;
    }
    #values {
        width: 100%;
    }
    .allValues {
        margin-left: 10%;
    }
    .val {
        margin-left: -6%;
        margin-right: 6%;
    }
    .projects {
        margin-left: 3%;
        margin-right: 3%;
    }
    .gardengatePr {
        height: 50%;
    }
    .projectsPr {
        height: 50%;
    }
    .whyUs {
        margin-bottom: -22%;
    }
    footer{
        width: 100%;
    }
    footer p {
        font-size: 16px;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (min-width: 550px) and (max-width: 700px) {

    #allTop {
        background-size: 122%;
    }
    #allTop a{
        font-size: 17px;
    }
    #heroContent {
        width: 50%;
    }
    h2 {
        font-size: 17px;
    }
    #PT {
        font-size: 17px;
    }
    #identity {
        margin-top: -77%;
    }
    #values h3 {
        margin-left: 31%;
    }
    .valCards {
        margin-right: 5%;
    }
    .val img {
        height: 20%;
    }
    .val p {
        font-size: 15px;
    }
    .whyUs {
        margin-bottom: -25%;
    }
    footer p {
        font-size: 16px;
    }
    .footerAbout {
        margin-left: 5%;
    }
}


@media (min-width: 800px) and (max-width: 895px) {

    #allTop{
        width: 101%;
    }
    #heroContent {
        width: 55%;
        margin-top: -1%;
    }
    #heroContent h1 {
        font-size: 35px;
    }
    #heroContent h2 {
        font-size: 19px;
    }
    #heroContent h3 {
        font-size: 25px;
    }
    .Hero-Img {
        margin-top: -20%;
    }
    nav {
        margin-top: -190%;
        margin-left: 55%;
    }
    nav a {
        padding: 7px;
        font-size: 17px;
    }
    .dropdown-content a {
        font-size: 15px;
    }
    #CTA {
        margin-top: 0%;
        padding: 12px;
    }
    #HP{
    margin-bottom: 20%;
    }
    #AU {
        margin-bottom: 0%;
    }
    #PT {
        font-size: 17px;
        margin-left: 14%;
        margin-bottom: 0%;
    }
    #CT {
        margin-top: -5%;
    }
    #HeroHome-Image {
        width: 80%;
    }
    #OP::before {
        top: -35;
    }
    .dropdown:hover #OP::before {
        height: 300%;
    }
     #identity {
        margin-top: -70%;
        height: 400px;
    }
    .allId {
        margin-left: 8%;
    }
    .pvmCards {
        margin-right: 5%;
        width: 600px;
        height: 222px;
    }
    h3 {
        white-space: nowrap;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #values {
        width: 100%;
    }
    .allValues {
        margin-left: 10%;
    }
    .projects {
        margin-left: 3%;
        margin-right: 3%;
    }
    .gardengatePr {
        height: 50%;
    }
    .projectsPr {
        height: 50%;
    }
    .whyUs {
        margin-bottom: -17%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}

@media (min-width: 819px) and (max-width: 845px) {
    #identity {
        margin-top: -75%;
    }
}

@media (min-width: 895px) and (max-width: 1000px) {

    #heroContent {
        width: 55%;
        margin-top: -1%;
    }
    #heroContent h1 {
        font-size: 38px;
    }
    #heroContent h2 {
        font-size: 20px;
    }
    #heroContent h3 {
        font-size: 28px;
    }
    .Hero-Img {
        margin-top: -20%;
    }
    nav {
        margin-top: -230%;
        margin-left: 60%;
    }
    nav a {
        padding: 7px;
        font-size: 19px;
    }
    #CTA {
        margin-top: 0%;
        padding: 12px;
    }
    #PT {
        margin-left: 14%;
    }
    #OP::before {
        top: -35;
    }
    .dropdown:hover #OP::before {
        height: 300%;
    }
     #identity {
        margin-top: -65%;
        height: 400px;
    }
    .pvmCards {
        margin-right: 5%;
        width: 600px;
        height: 211px;
    }
    h3 {
        white-space: nowrap;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    #values {
        width: 100%;
    }
    .allValues {
        margin-left: 10%;
    }
    .projects {
        margin-left: 3%;
    }
    .gardengatePr {
        height: 50%;
    }
    .projectsPr {
        height: 50%;
    }
    .whyUs {
        margin-bottom: -17%;
    }
    footer{
        width: 100%;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .socials {
        margin-top: 1%;
    }
    .soc1 {
        height: 12%;
        margin-bottom: -1%;
    }
    .soc2 {
        height: 15%;
        margin-bottom: -2%;
    }
    .copyright{
        width: 100%;
    }
}


@media (min-width: 1000px) and (max-width: 1025px) {

    #heroContent {
        width: 55%;
        margin-top: -1%;
    }
    #heroContent h1 {
        font-size: 40px;
    }
    #heroContent h2 {
        font-size: 22px;
    }
    #heroContent h3 {
        font-size: 30px;
    }
    .Hero-Img {
        margin-top: -20%;
    }
    nav {
        margin-top: -150%;
        margin-left: 70%;
    }
    nav a {
        padding: 10px;
    }
    #CTA {
        margin-top: 0%;
    }
    #identity {
        margin-top: -51%;
        height: 400px;
    }
    .pvmCards {
        margin-right: 5%;
        width: 600px;
        height: 250px;
    }
    .projects {
        margin-left: 0%;
    }
    .gardengate::before {
        width: 105%;
     }
    .otherProjects::before {
        width: 105%;
    }
    .gardengatePr {
        height: 50%;
    }
    .projectsPr {
        height: 50%;
    }
    .whyUs {
        margin-bottom: -17%;
    }
    .footerAbout {
    width: 50%;
    margin-left: 2%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {

    nav {
        margin-top: -150%;
        margin-left: 70%;
    }
    nav a {
        padding: 10px;
    }
    .heroNav {
        margin-top: -3%;
    }
    .Hero-Img {
        width: 28%;
        margin-left: -10%;
    }
    #heroContent {
        width: 60%;
    }
    #identity {
        margin-top: -24%;
        height: 350px;
    }
    .pvmCards {
        margin-right: 5%;
        width: 600px;
        height: 250px;
    }
    .footerAbout {
        margin-left: 0%;
    }
}

@media (width: 1280px) and (height: 853px) {
    .heroNav {
        margin-top: -3%;
    }
}

@media (min-width: 1275px) and (max-width: 1285px) {
    nav {
        margin-top: -150%;
    }

    #identity {
        margin-top: -33%;
    }
    .pvmCards {
        height: 250px;
    }
    .footerAbout {
        width: 50%;
        margin-left: 2%;
    }
    .gardengate::before {
        width: 105%;
     }
    .otherProjects::before {
        width: 105%;
    }
}

@media (min-width: 1285px) and (max-width: 1370px) {
    #identity {
        margin-top: -27%;
        height: 30%;
    }
    .gardengate::before {
        width: 105%;
     }
    .otherProjects::before {
        width: 105%;
    }
}
